@import "_colors.scss";
@import "_fonts.scss";
@import "_urls.scss";
@import url('https://fonts.googleapis.com/css?family=Anton|Crete+Round'); // Google Fonts, can't use URL variable

body {
font-family: 'Crete Round'; 
color: #af201e;
	
}

h1, h2, h3 {
	color: 1px, bold;
}

.carousel-caption {
	h3 {
		color: 1px, italic;
	}
	p {
		color: 1px, bold;
	}
}

h1 {
	color: 3px, bold;
	font: 100% Anton, seriff;
}


